{%extends 'main.html'%} {%load static%} {%block content%}
<div class="user-form-cont">
    <a href="{%url 'home'%}"
        ><div id="user-link" class="home-link"
            ><img src="{%static 'images/back.png'%}" alt="" /></div
    ></a>

    <form class="user-form" action="" method="POST">
        <h2>Редактировать профиль</h2>
        {%csrf_token%} {%for field in form%}
        <div class="form__group">
            <label for="{{field.label}}">{{field.label}}</label><br>
            {{field}}
        </div>
        {%endfor%}
        <div class="form__group btn-cont-user">
            <button type="submit">Сохранить</button>
        </div>
    </form>
</div>

{%endblock content%}
