@charset "UTF-8";
/*обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  margin: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.home-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 3rem 5.6em;
}

header {
  width: 100%;
}

.topic-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1.5rem;
}

.topic-item {
  background-color: #242C39;
  padding: 0.9em;
  padding-left: 2em;
  border-radius: 8px;
  margin-bottom: 1em;
}
.topic-item:hover {
  background-color: #14181E;
}

#createRoom {
  background: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#createRoom img {
  margin-right: 0.5em;
}

.feed-cont {
  padding-top: 0.8rem;
}
.feed-cont h5 {
  font-weight: 800;
  margin-bottom: 2.4em;
}

.feed-item {
  background-color: #242C39;
  width: 95%;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  border-radius: 8px;
}
.feed-item h3 {
  margin-bottom: 1em;
}

.first-feed {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0 1fr 0 1fr 0 1fr 0 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
  margin-bottom: 1em;
}

.user-feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.user-feed img {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  margin-right: 0.6em;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.stat-feed {
  -ms-grid-column: 5;
      grid-column-start: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em;
  border-radius: 8px;
  border: 2px solid white;
  -o-border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
     border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
  border-image-slice: 1;
}

.activity-cont h3 {
  background-color: #14181E;
  padding: 0.9em;
  padding-left: 2em;
  margin-bottom: 1.4em;
  border: 2px solid white;
  -o-border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
     border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
  border-image-slice: 1;
}
.activity-cont small {
  color: #FFFFFF54;
}
.activity-cont .activity-item {
  margin-bottom: 1.5em;
  position: relative;
}
.activity-cont .activity-item:after {
  content: "";
  background: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
  position: absolute;
  top: -2px;
  width: 80%;
  height: 1px;
  left: 6%;
  margin-bottom: 0.2em;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 7.1em;
  background-color: #14181E;
  width: 100%;
}
.navbar .logo {
  font-size: 3rem;
  margin-right: 2em;
}
.navbar .logo img {
  -o-object-fit: scale-down;
     object-fit: scale-down;
  height: 50px;
}
.navbar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .auth-container a {
  margin-right: 2em;
}
.navbar .auth-container a:last-child {
  margin-right: 0;
}
.navbar a {
  font-size: 1rem;
}
.navbar form {
  width: 60%;
}

.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 2em;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.auth-image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  border: 0.1rem solid white;
}

.searchbar {
  color: white;
  font-size: 16px;
  font-size: max(16px, 1em);
  padding: 0.9em;
  width: 80%;
  background-color: #14181E;
  border: 2px solid white;
  -o-border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
     border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
  border-image-slice: 1;
}

.login_form {
  background-color: #242C39;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
  margin: 0 auto;
  margin-top: 4.5rem;
  padding: 2rem 4rem;
  background-color: #14181E;
  border: 2px solid white;
  -o-border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
     border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
  border-image-slice: 1;
}
.login_form h2 {
  font-size: 2.7rem;
  margin: 0 auto;
  margin-bottom: 1em;
}
.login_form input {
  color: white;
  font-size: 1rem;
  min-width: 125px;
  width: 90%;
  margin: 0.5em auto;
  padding: 0.8rem;
  background-color: #242C39;
}
.login_form input:last-child {
  height: inherit;
  background-color: #14181E;
  color: white;
  margin: 0;
}

.sub-login {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sub-login a {
  margin-right: 2em;
  padding: 0.8rem;
}
.sub-login #login_hover:hover {
  background: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
}

.login-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-link {
  position: absolute;
  top: 5rem;
  left: 30rem;
  background-color: #14181E;
  border: 2px solid white;
  -o-border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
     border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
  border-image-slice: 1;
  padding: 0.4em;
}

.reg-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reg_form {
  background-color: #242C39;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 35%;
  margin: 0 auto;
  margin-top: 4.5rem;
  padding: 2rem 4rem;
  background-color: #14181E;
  border: 2px solid white;
  -o-border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
     border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
  border-image-slice: 1;
}
.reg_form h2 {
  font-size: 2.7rem;
  margin: 0 auto;
  margin-bottom: 1em;
}
.reg_form input {
  color: white;
  font-size: 1rem;
  min-width: 125px;
  width: 90%;
  margin: 0.5em auto;
  padding: 0.8rem;
  background-color: #242C39;
}
.reg_form input:last-child {
  height: inherit;
  background-color: #14181E;
  color: white;
  margin: 0;
}
.reg_form a {
  margin: 0.5em auto;
  color: #FFFFFF54;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}
.form-group input {
  background-color: white;
}

#host-home-link {
  top: 7rem;
  left: 5rem;
}

.room-container {
  padding: 1.4rem 7.1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5rem 2rem minmax(10rem, auto) 2rem auto 2rem auto;
  grid-template-rows: 5rem minmax(10rem, auto) auto auto;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  gap: 2rem;
}
.room-container input {
  color: white;
  font-size: 16px;
  font-size: max(16px, 1em);
  padding: 0.9em;
  width: 90%;
  background-color: #14181E;
  border: 2px solid white;
  -o-border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
     border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
  border-image-slice: 1;
}

.host-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 6rem;
  margin-left: 2rem;
}
.host-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.host-info div img {
  margin-right: 0.5em;
}
.host-info .btn-room {
  height: 2rem;
  padding: 0.5rem;
  border: 2px solid white;
  -o-border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
     border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
  border-image-slice: 1;
  margin-right: 1rem;
}

.room-info {
  background-color: #14181E;
  border-radius: 1rem;
  padding: 1rem 3rem;
}
.room-info h1 {
  font-weight: 600;
  margin-bottom: 0.8em;
  font-size: 1.6rem;
}

.comment-cont {
  margin-left: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4rem 1fr;
  grid-template-columns: 4rem 1fr;
  margin-bottom: 0.8rem;
}
.comment-cont small {
  color: #FFFFFF54;
}

.com-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.com-body a {
  background: linear-gradient(95.77deg, #43cbff 15.8%, #9708cc 86.18%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 0.3em;
}
.com-body p {
  margin-top: 0.5em;
}

select {
  background-color: #242C39;
  color: white;
  border-radius: 0.1em;
  width: 10rem;
  padding: 0.4em;
}

.room-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin: 0 auto;
  margin-top: 4.5rem;
  padding: 2rem 4rem;
  background-color: #14181E;
  border: 2px solid white;
  -o-border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
     border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
  border-image-slice: 1;
}
.room-form h2 {
  font-size: 2.7rem;
  margin: 0 auto;
  margin-bottom: 1em;
}
.room-form input {
  color: white;
  font-size: 1rem;
  min-width: 125px;
  width: 90%;
  margin: 0.5em auto;
  padding: 0.8rem;
  background-color: #242C39;
}
.room-form input:last-child {
  width: 40%;
}
.room-form textarea {
  color: white;
  font-size: 1rem;
  min-width: 125px;
  width: 90%;
  margin: 0.5em auto;
  padding: 0.8rem;
  background-color: #242C39;
}
.room-form a {
  margin: 0.5em auto;
  color: #FFFFFF54;
}

.profile-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 0 3fr 0 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 3rem 5.6em;
  gap: 0;
}

.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2em;
}
.user-info div {
  border: 2px solid white;
  -o-border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
     border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
  border-image-slice: 1;
  background-color: #14181E;
  padding: 1em;
}
.user-info div span {
  color: #FFFFFF54;
  margin-bottom: 2em;
  font-size: 0.9rem;
}
.user-info div p {
  background-color: #242C39;
  padding: 0.4em;
  border-radius: 0.2em;
  margin-top: 1em;
}
.user-info div p:hover {
  background-color: #14181E;
}
.user-info div h4 {
  margin-bottom: 0.8em;
}
.user-info h3 {
  background-color: #242C39;
  padding: 0.9em;
  padding-left: 2em;
  margin-bottom: 1.3em;
  border: 2px solid white;
  -o-border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
     border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
  border-image-slice: 1;
}
.user-info img {
  border: 2px solid white;
  -o-border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
     border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
  border-image-slice: 1;
  background-color: #14181E;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  padding: 1em 0;
  height: 13.5rem;
  margin-bottom: 1.3em;
}
.user-info a {
  background-color: #242C39;
  padding: 0.7em;
  border-radius: 8px;
  margin: 1em 0;
}
.user-info a:hover {
  background-color: #14181E;
}

.user-form-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 4.5rem;
  padding: 2rem 1rem;
  border: 2px solid white;
  -o-border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
     border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
  border-image-slice: 1;
}
.user-form h2 {
  font-size: 2.7rem;
  margin-bottom: 1em;
}
.user-form input {
  color: white;
  font-size: 1rem;
  width: 100%;
  margin: 0.5em auto;
  padding: 0.8rem;
  background-color: #242C39;
}

.form__group {
  width: 60%;
  margin: 1em 0;
}
.form__group button {
  background: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
  color: white;
  padding: 1em 0.6em;
  border-radius: 0.1em;
}

.btn-cont-user {
  text-align: center;
}

#user-link {
  top: 11rem;
  left: 20%;
}

.delete-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delete-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 4.5rem;
  padding: 2rem 1rem;
  border: 2px solid white;
  -o-border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
     border-image: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
  border-image-slice: 1;
}
.delete-form h2 {
  font-size: 1.7rem;
  margin-bottom: 1em;
}
.delete-form input {
  background: linear-gradient(135deg, #43CBFF 0%, #9708CC 100%);
  color: white;
  padding: 1em 0.6em;
  border-radius: 0.1em;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background-color: #06070D;
}
body a {
  color: white;
}